@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body{
    font-family:"Noto Sans";
}
.icon{
    height:60px;
}
.marker-pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #c30b82;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
  }
.marker-pin::after {
    content: '';
    width: 24px;
    height: 24px;
    margin: 3px 0 0 3px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
}

.custom-div-icon i {
    position: absolute;
    width: 18px;
    font-size: 18px;
    left: 0;
    right: 0;
    margin: 12px auto;
    text-align: center;
    vertical-align: middle;
}
#map{
    min-height:400px;
    height:60vh;
}
.navbar{
    padding-left:10px;
    padding-right:10px;
    background:#2c3e50 !important;
}
/*.orange-container{
    background:#e67e22;
    color:white;
}
.orange-container a{
    color:rgb(205, 235, 255);
}*/
.container{
    padding-top:10px;
    padding-bottom:10px;
}
.spaces{
    padding-top:40px;
    padding-bottom:40px;
}
.fade-in {
    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  .fade-in-2 {
    animation: fadeIn 3.0s;
    -webkit-animation: fadeIn 3.0s;
    -moz-animation: fadeIn 3.0s;
    -o-animation: fadeIn 3.0s;
    -ms-animation: fadeIn 3.0s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    50%{opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    50%{opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    50%{opacity:0;}
    100% {opacity:1;}
  }
.footer{
    padding-top:10px;
    width:100%;
    background:#2c3e50;
    color:white;
}
.footer a{
    color:#96b7e7
}
.footer a:hover{
    color:#6a96d8
}
.red{
    color:#e74c3c;
}